body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #dddddd;
    background-color: #1c1c1c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    height: 90vh; /* Full viewport height */
    text-align: center;
    /*border: solid red 1px;*/
}

h1 {
    margin-bottom: 20px;
}

.progress-container {
    width: 80%;
    max-width: 400px;
    background: #ddd;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #555555;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}
